/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_header__oRW75 {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 5rem;
  box-shadow: 10px 0px 10px 5px rgba(255, 255, 255, 0.1);
}


.page_header__oRW75 a {
  font-size: 1.6rem;
  transition: color 0.1s ease;
}

.page_header__oRW75 a:hover {
  color: var(--main-turq);
}

.page_main__nw1Wk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  min-height: 100dvh;
}

.page_description__lvaOp {
  padding-bottom: 2rem;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
}

.page_description__lvaOp > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1rem;
}

.page_description__lvaOp > div select {
  font-size: 1rem;
  border-radius: 5px;
}

.page_description__lvaOp > div input {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.page_description__lvaOp > div input:focus {
  outline: 2px solid var(--main-turq);
} 

.page_center__NcdcW {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      350px,
      1fr
    )
  );
  grid-gap: 20px;
  gap: 20px;
}

.page_center__NcdcW > a > img {
  max-width: 95%;
}

/* -- movie cards -- */

.page_movie_card__q_DnV {
  padding: 1rem;
  border: 1px solid rgba(90, 232, 193, 0.2);;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: box-shadow 0.1s ease;
}

.page_movie_card__q_DnV:hover {
  box-shadow: 0px 0px 18px 0px rgba(90, 232, 193, 0.6);
}

.page_movie_card__q_DnV:hover > span {
  -webkit-line-clamp: 10;
}

.page_movie_card__q_DnV img {
  width: 95%;
  height: auto;
  border-radius: 10px;
}

.page_movie_card__q_DnV h3 {
  text-wrap: balance;
}

.page_movie_card__q_DnV > span {
  font-size: 1rem;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  transition: 0.2s ease;
}

.page_movie_card__q_DnV > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.page_movie_card__q_DnV > div > span {
  color: var(--seq-white);
}

/* -- home page btns --  */

.page_pag_cont__sMswT {
  width: 100%;
  padding: 3rem 0 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.page_pag_cont__sMswT button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--seq-white);
  border-radius: 5px;
  font-size: 1.1rem;
}

.page_pag_cont__sMswT button:hover {
  background: var(--main-turq);
}

.page_pag_cont__sMswT button[disabled]:hover {
  background: transparent;
}

.page_pag_cont__sMswT button[disabled]:active {
  border: 2px solid var(--seq-white);
}

.page_pag_cont__sMswT button:active {
  background: transparent;
  border: 2px solid var(--main-turq);
}

/* -- movie page -- */

.page_movie_data__lA8pM {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.page_movie_data__lA8pM > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;
}

.page_movie_data__lA8pM > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.page_movie_data__lA8pM > span {
  font-size: 1.2rem;
}

.page_genres_cont__ZPlt7 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



/* -- Footer -- */

.page_footer__F3MD0 {
  padding: 2rem;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
}

.page_footer__F3MD0 div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.page_footer__F3MD0 div span {
  color: var(--seq-white)
}



/* Mobile */
@media (max-width: 700px) {
  .page_header__oRW75 {
    gap: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .page_header__oRW75 a {
    font-size: 1rem;
  }
  .page_main__nw1Wk {
    padding: 0.5rem;
    min-height: 100dvh;
  }
  .page_main__nw1Wk > div {
    max-width: 97dvw;
  }
  .page_description__lvaOp h2 {
    font-size: 1rem;
    max-width: 95%;
    justify-self: center;
  }
  .page_description__lvaOp > div {
    font-size: 0.8rem;
  }
  .page_description__lvaOp > div select {
    font-size: 0.8rem;
  }
  .page_description__lvaOp > div input {
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
  }
  .page_center__NcdcW {
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        230px,
        1fr
      )
    );
  }

  /* -- movie cards -- */

  .page_movie_card__q_DnV h3 {
    font-size: 1.2rem;
  }
  .page_movie_card__q_DnV > span {
    font-size: 0.8rem;
  }

  /* -- home page btns --  */
  .page_pag_cont__sMswT {
    padding: 2rem 0 1rem;
    justify-content: space-between;
    font-size: 1rem;
  }

  /* -- movie page -- */
  .page_movie_data__lA8pM {
    padding-bottom: 1rem;
  }
  .page_movie_data__lA8pM > div {
    font-size: 0.8rem;
  }  
  .page_movie_data__lA8pM > span {
    font-size: 0.9rem;
  }
}
